// Base
*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  font-family: 'Helvetica', sans-serif
  background-color: $backgroundColor

a
  text-decoration: none

header
  margin: 0 auto
  width: 95%

nav
  font-size: 0

main
