// Base

html
  font-size: 70%
  font-family: sans-serif


body
  display: inline
  text-align: center
  background: $backgroundColor


footer
  background: $secondaryBlue

.more__pro
  font-weight: lighter


.sign__up
  display: inline-block
  background: $secondaryBlue
  color: white
  text-align: center
  border: none
  font-size: 2rem
  position: relative
  left: 4rem


.login
  background: gray
  border: none
  color: white
  display: inline
  text-align: center
  font-size: 2rem
  position: relative
  top: 9rem
  right: 4rem
  bottom: 10rem

.paragraph__text
  text-align: center
  font-style: sans-serif
  font-size: 1.6rem

footer
  position: relative
  padding: 1rem
  padding-top: 0
  padding-bottom: 1rem
  background-color: $secondaryBlue
  text-align: center




@media (max-width: 559px) and (min-width: 375px)
