// Base
*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  background-color: $backgroundColor
  font-family: helvetica
  font-family: sans-serif


body
  display: inline
  text-align: center
  background: $backgroundColor


@media (min-width: 375px) and (max-width: 559px)
