// Vars

$fontSize--base: 1.6rem

$numberOfColumns: 12
// colors
$successGreen: rgb(79, 186, 111)
$primaryBlue: rgb(41, 128, 186)
$secondaryBlue: rgb(59, 151, 211)
$textColor: rgb(44, 62, 80)
$errorRed: rgb(192, 58, 43)
$backgroundColor: rgb(236, 240, 241)
$navyBlue: rgb(36, 59, 79)
$gray: rgb(140, 170, 168)
$gray50: rgba(140, 170, 168, 0.5)

//brand styles
$h1_size: 5rem
$button_textSize: 5rem
$button_width: 33%
$button_padding: 1rem
$logo_width: 33%
$paragraph_textSize: 2rem
$tagline_textSize: 4rem
$subhead_textSize: 5rem
