// Vars

$fontSize--base: 1.6rem

$numberOfColumns: 12
$successGreen: rgb(79, 186, 111)
$primaryBlue: rgb(41, 128, 186)
$secondaryBlue: rgb(59, 151, 211)
$textColor: rgb(44, 62, 80)
$errorRed: rgb(192, 58, 43)
$backgroundColor: rgb(236, 240, 241)
