// dashboard

.dashboard__logo
  display: block
  position: relative
  text-align: center

.dashboard__logo img
  width: 50%

.dashboard__nav--newStudent
  background-color: $primaryBlue
  color: white
  display: inline-block
  font-size: 1.75rem
  padding: 0.5rem
  position: relative
  text-align: center
  text-transform: uppercase
  width: 45%

.dashboard__nav--settings
  background-color: $gray
  color: white
  display: inline-block
  float: right
  font-size: 1.75rem
  padding: 0.5rem
  position: relative
  text-align: center
  text-transform: uppercase
  width: 40%

@media (min-width: 479px) and (max-width: 767px)

@media (min-width: 768px) and (max-width: 978px)

@media (min-width: 979px)
