.grid__row {
  font-size: 0; }

.grid__col--1 {
  display: inline-block;
  width: 8.33333%;
  font-size: 1.6rem; }

.grid__col--2 {
  display: inline-block;
  width: 16.66667%;
  font-size: 1.6rem; }

.grid__col--3 {
  display: inline-block;
  width: 25%;
  font-size: 1.6rem; }

.grid__col--4 {
  display: inline-block;
  width: 33.33333%;
  font-size: 1.6rem; }

.grid__col--5 {
  display: inline-block;
  width: 41.66667%;
  font-size: 1.6rem; }

.grid__col--6 {
  display: inline-block;
  width: 50%;
  font-size: 1.6rem; }

.grid__col--7 {
  display: inline-block;
  width: 58.33333%;
  font-size: 1.6rem; }

.grid__col--8 {
  display: inline-block;
  width: 66.66667%;
  font-size: 1.6rem; }

.grid__col--9 {
  display: inline-block;
  width: 75%;
  font-size: 1.6rem; }

.grid__col--10 {
  display: inline-block;
  width: 83.33333%;
  font-size: 1.6rem; }

.grid__col--11 {
  display: inline-block;
  width: 91.66667%;
  font-size: 1.6rem; }

.grid__col--12 {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #ecf0f1;
  font-family: "Helvetica", sans-serif;
  display: inline; }

a {
  text-decoration: none; }

header {
  margin: 0 auto;
  width: 95%; }

nav {
  font-size: 0; }

.header-image {
  position: relative;
  width: 33%;
  left: 33%; }

.form__title {
  font-size: 5rem;
  color: #2980ba;
  text-align: center; }

.add-form-wrapper {
  background-color: #ecf0f1;
  margin: 0 auto;
  font-size: 4.5rem;
  width: 90%; }

.add-student-form {
  display: block; }

.form__text {
  color: #2c3e50;
  font-weight: 300;
  margin-bottom: 0.5rem; }

.add-form__input {
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  position: relative;
  width: 100%; }

.submit__add-student {
  background-color: #2980ba;
  border: 0;
  color: #ecf0f1;
  font-size: 4.5rem;
  left: 33%;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
  width: 33%; }

.error-msg {
  color: #c03a2b;
  font-size: 3rem; }

.dashboard__main {
  background-color: #243b4f; }

.dashboard__logo {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.dashboard__logo img {
  width: 40%; }

.dashboard__nav--newStudent {
  background-color: #2980ba;
  color: white;
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%; }

.dashboard__nav--settings {
  background-color: #8caaa8;
  color: white;
  display: inline-block;
  float: right;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 40%; }

.dashboard__header {
  padding-bottom: 2rem; }

.dashboard__heading {
  border-top: 1px solid rgba(140, 170, 168, 0.5);
  border-bottom: 1px solid rgba(140, 170, 168, 0.5);
  color: white;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase; }

.dashboard__student--name {
  color: white;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-left: 1rem;
  text-transform: capitalize; }

.dashboard__student--scoreDynamic {
  color: #c03a2b;
  font-size: 2rem;
  font-weight: 700; }

.dashboard__student--scoreStatic {
  color: #8caaa8;
  float: right;
  font-size: 2rem;
  font-weight: 700;
  padding-right: 1rem; }

.dashboard__student--overview {
  border-bottom: 1px solid rgba(140, 170, 168, 0.5);
  display: block;
  height: 15rem;
  position: relative; }

/*
 *Css Line Graph created by Alen Grakalic
 *Brought to you by Css Globe (cssglobe.com) */
dl.csslinegraph {
  position: relative;
  display: block;
  background-color: yellow;
  margin: 0;
  margin-left: 2rem;
  padding: 0; }
  dl.csslinegraph dt, dl.csslinegraph dd {
    margin: 0;
    padding: 0; }
  dl.csslinegraph dt {
    display: none; }
  dl.csslinegraph dd {
    position: relative;
    float: left;
    display: inline;
    width: 99px;
    margin-top: 10rem; }
  dl.csslinegraph span {
    position: absolute;
    display: block;
    width: 99px;
    background-image: url(../assets/line_edit_copy.png);
    background-repeat: no-repeat;
    text-indent: -8000px; }
    dl.csslinegraph span em {
      position: absolute;
      display: block;
      width: 1rem;
      height: 1rem;
      left: -3px;
      bottom: -3px;
      background: url(../assets/dot.png) no-repeat 0 0; }
  dl.csslinegraph .last {
    background-image: none; }

/* position based on previous value (if we are going to increase) */
.pi0 {
  top: 0px; }

.pi1 {
  top: -10px; }

.pi2 {
  top: -20px; }

.pi3 {
  top: -30px; }

.pi4 {
  top: -40px; }

.pi5 {
  top: -50px; }

.pi6 {
  top: -60px; }

.pi7 {
  top: -70px; }

.pi8 {
  top: -80px; }

.pi9 {
  top: -90px; }

.pi10 {
  top: -100px; }

/* position based on previous value (if we are going to decrease) */
.pd0 {
  top: 100px; }

.pd1 {
  top: 90px; }

.pd2 {
  top: 80px; }

.pd3 {
  top: 70px; }

.pd4 {
  top: 60px; }

.pd5 {
  top: 50px; }

.pd6 {
  top: 40px; }

.pd7 {
  top: 30px; }

.pd8 {
  top: 20px; }

.pd9 {
  top: 10px; }

.pd10 {
  top: 0px; }

/* increased values */
.i0 {
  background-position: 0 -1px; }

.i1 {
  background-position: -33px 0; }

.i2 {
  background-position: -66px 0; }

.i3 {
  background-position: -100px 0; }

.i4 {
  background-position: -133px 0; }

.i5 {
  background-position: -166px 0; }

.i6 {
  background-position: -200px 0; }

.i7 {
  background-position: -233px 0; }

.i8 {
  background-position: -266px 0; }

.i9 {
  background-position: -300px 0; }

.i10 {
  background-position: -333px 0; }

/* decreased values */
.d0 {
  background-position: 0 -332px; }

.d1 {
  background-position: -33px -333px; }

.d2 {
  background-position: -66px -333px; }

.d3 {
  background-position: -100px -333px; }

.d4 {
  background-position: -133px -333px; }

.d5 {
  background-position: -166px -333px; }

.d6 {
  background-position: -200px -333px; }

.d7 {
  background-position: -233px -333px; }

.d8 {
  background-position: -266px -333px; }

.d9 {
  background-position: -300px -333px; }

.d10 {
  background-position: -333px -333px; }

.tagline {
  font-weight: 300;
  font-size: 4rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
  text-align: center; }

.index__logo {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%; }

.index__header {
  padding-top: 5rem; }

.sign__up {
  display: block;
  background: #3b97d3;
  color: white;
  text-align: center;
  border: none;
  position: relative;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 5rem;
  width: 33%;
  padding: 1rem; }

.login {
  display: block;
  background: #8caaa8;
  color: white;
  text-align: center;
  border: none;
  position: relative;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 5rem;
  width: 33%;
  padding: 1rem; }

.buttons {
  display: block;
  position: relative;
  padding-bottom: 10rem; }

.paragraph__text {
  text-align: center;
  font-style: sans-serif;
  font-size: 1.6rem; }

.subhead {
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
  font-size: 4rem; }

.paragraph__text {
  font-size: 2rem;
  padding-right: 6rem;
  padding-left: 6rem;
  text-align: left; }

.index__main {
  background-color: #3b97d3;
  padding-bottom: 8rem;
  text-align: center; }

.settings__logo {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.settings__logo img {
  width: 40%; }

.settings__button--cancel {
  background-color: #c03a2b;
  color: white;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%; }

.settings__button--confirm {
  background-color: #4fba6f;
  color: white;
  display: inline-block;
  float: right;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%; }

.settings__button--deleteAccount {
  background-color: #8caaa8;
  color: white;
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%; }

.settings__button--downloadArchive {
  background-color: #2980ba;
  color: white;
  display: inline-block;
  float: right;
  font-size: 4rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%; }

.settings__nav {
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 2rem;
  font-size: 5rem; }

.settings__heading {
  color: #2980ba;
  display: block;
  font-size: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase; }

.settings__formSection--label {
  color: #2c3e50;
  font-size: 5rem;
  font-weight: 300; }

.settings__formSection--info {
  color: #2980ba;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: -0.5rem; }

.settings__form--input {
  display: block;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  position: relative;
  width: 100%; }

.settings__main {
  font-size: 0;
  margin: 0 auto;
  width: 90%; }

/*# sourceMappingURL=main.css.map */
